export MONGO_URL     := mongodb://localhost:27017/alfred

export GITHUB_SECRET := 

export ALFRED_URL    := irc.mozilla.org
export ALFRED_NAME   := alfredbot

export REACT_APP_API_URL     := http://localhost:4001/v0
export REACT_APP_WEBHOOK_URL := http://localhost:4001/webhook
