*, :after, :before {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #424242;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #ebebeb;
  margin: 0;
  padding: 2rem;
}

.header {
  margin: 1rem 1rem 4rem;
}

.header__title {
  display: inline-block;
  height: 4rem;
  margin: 0;
  padding-top: 0.5rem;
  vertical-align: top;
}

.logo {
  background-color: #121212;
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  margin-right: 1rem;
  position: relative;
  width: 4rem;
}

.logo--reviewing {
  background-color: #f60;
}

.logo:after {
  content: 'alf';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-start;
}

.content__tile {
  min-width: 30rem;
  width: 47%;
  margin: 1rem;
}

.suggestions {
  padding: 1rem;
  margin-bottom: 2rem;
}

.suggestions__title {
  color: #121212;
  font-size: 1.25rem;
}

.suggestions__tip {
  color: #121212;
  opacity: 0.3;
  font-size: .8rem;
}

.report {
  background-color: #f9f9f9;
  padding: 1rem;
}

.report__title {
  color: #121212;
  font-size: 1.25rem;
  border-bottom: 1px solid #121212;
  margin: 0;
}

.report__subtitle {
  color: #121212;
  font-size: 1rem;
}

.report__list {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.report__item {
  margin-bottom: 1rem;
}

.report__item:hover {
  background: #ffffff;
}

.report__actions--inline {
  display: inline-block;
  margin-left: .3rem;
}

.report__action {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #424242;
  font-size: .8rem;
  margin-right: .5rem;
  opacity: 0.3;
  text-decoration: underline;
}

.report__action--danger {
  color: #f2001a;
}

.report__item:hover .report__action,
.report__subtitle:hover .report__action {
  color: #1a00f2;
  opacity: 1;
}

.report__item:hover .report__action:active,
.report__item:hover .report__action:hover,
.report__subtitle:hover .report__action:active,
.report__subtitle:hover .report__action:hover {
  background: #1a00f2;
  color: #fff;
  outline-width: 0;
}

.report__item:hover .report__action--danger:hover {
  background: #f2001a;
}

.report__edit {
  width: 100%;
  color: #424242;
  font-family: Arial, sans-serif;
  line-height: 1.5;
}
