*, :after, :before {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #424242;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #ebebeb;
  margin: 0;
  padding: 2rem;
}

.header {
  margin: 1rem 1rem 4rem;
  display: flex;
}

.header__title {
  margin: .5rem 0 0;
}

.logo {
  background-color: #121212;
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  margin-right: 1rem;
  position: relative;
  width: 4rem;
}

.logo--blue {
  background-color: #1a00f2;
}

.logo--orange {
  background-color: #f27000;
}

.logo:after {
  content: 'alf';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
}

.content--tiles {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-start;
}

.content--columns {
  flex-wrap: nowrap;
}

.content__column,
.content__tile {
  flex: 1 1 auto;
  min-width: 20rem;
  max-width: 40rem;
  width: 30rem;

}

.tile {
  margin: 1rem;
  padding: 1rem;
}

.tile--scratchpad {
  background-color: #ffffaa;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.30);
  margin-bottom: 2rem;
}

.tile--report {
  background-color: #f9f9f9;
  box-shadow: 0px 3px 2px 0px rgba(0, 0, 0, 0.30);
}

.tile--notitle {
  margin-top: 0;
}

.tile__title {
  color: #121212;
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

.tile__title--report {
  border-bottom: 1px solid #121212;
  margin: 0;
}

.tile__hint {
  color: #121212;
  opacity: 0.3;
  font-size: .8rem;
}

.tile__subtitle {
  color: #121212;
  font-size: 1rem;
}

.tile__actions {
  color: #424242;
  font-size: .8rem;
  opacity: 0.3;
  display: inline-block;
  margin-left: .5rem;
}

.tile__updates {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.update {
  margin-bottom: 1rem;
}

.update__text--done {
  text-decoration: line-through;
  opacity: 0.3;
}

.tile .update:hover {
  background: #f9f9f9;
}

.tile--scratchpad .update:hover {
  background: #ffffcc;
}

.update:hover .update__text--done {
  opacity: 1;
}

.update__actions {
  color: #424242;
  font-size: .8rem;
  opacity: 0.3;
}

.update__hint {
  margin-right: .25rem;
}

.action {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1a00f2;
  font-size: .8rem;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  margin-right: .25rem;
  text-decoration: underline;
}

.action--danger {
  color: #f2001a;
}

.tile__title:hover .tile__actions,
.tile__subtitle:hover .tile__actions,
.update:hover .update__actions {
  opacity: 1;
}

.update > .reactions {
  float: right;
  opacity: 0.5;
}

.update > .reactions > .heart {
  width: 2rem;
  height: 1rem;
  display: inline-block;
}

.update > .reactions > .heart:after {
  content: '♡';
}

.update > .reactions > .heart:hover:after {
  content: '❤';
  cursor: 'pointer';
}

.update:hover > .reactions {
  opacity: 1;
}

.action:active,
.action:hover {
  background: #1a00f2;
  color: #fff;
  outline-width: 0;
}

.action--danger:hover {
  background: #f2001a;
}

.update__edit {
  width: 100%;
  color: #424242;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.footer {
  padding: 2rem;
  color: #424242;
  font-size: .8rem;
  opacity: 0.3;
}

.footer:hover {
  opacity: 1;
}

.footer__link {
  color: #1a00f2;
  font-size: .8rem;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
  margin-right: 1rem;
}

.footer__link:hover {
  background: #1a00f2;
  color: #fff;
  outline-width: 0;
}
