*, :after, :before {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  color: #424242;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  background: #ebebeb;
  margin: 0;
  padding: 2rem;
}

.header {
  margin: 1rem 1rem 4rem;
}

.header__title {
  display: inline-block;
  height: 4rem;
  margin: 0;
  padding-top: 0.5rem;
  vertical-align: top;
}

.logo {
  background-color: #121212;
  border-radius: 50%;
  display: inline-block;
  height: 4rem;
  margin-right: 1rem;
  position: relative;
  width: 4rem;
}

.logo--blue {
  background-color: #1a00f2;
}

.logo--orange {
  background-color: #f27000;
}

.logo:after {
  content: 'alf';
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  align-items: flex-start;
}

.content__tile {
  width: 31.25rem;
  margin: 1rem;
}

.suggestions {
  padding: 1rem;
  margin-bottom: 2rem;
}

.suggestions__title {
  color: #121212;
  font-size: 1.25rem;
  margin: 0 0 1rem;
}

.suggestions__tip {
  color: #121212;
  opacity: 0.3;
  font-size: .8rem;
}

.report {
  background-color: #f9f9f9;
  padding: 1rem;
}

.report__title {
  color: #121212;
  font-size: 1.25rem;
  border-bottom: 1px solid #121212;
  margin: 0;
}

.report__subtitle {
  color: #121212;
  font-size: 1rem;
}

.report__list {
  list-style-type: none;
  margin-top: 0;
  padding: 0;
}

.update {
  margin-bottom: 1rem;
}

.update__text--done {
  text-decoration: line-through;
  opacity: 0.3;
}

.update:hover {
  background: #f9f9f9;
}

.update:hover .update__text--done {
  opacity: 1;
}

.report__actions,
.update__actions {
  color: #424242;
  font-size: .8rem;
  opacity: 0.3;
}

.report__actions {
  display: inline-block;
  margin-left: .5rem;
}

.update__hint {
  margin-right: .25rem;
}

.report__action,
.update__action {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1a00f2;
  font-size: .8rem;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  margin-right: .25rem;
  text-decoration: underline;
}

.update__action--danger {
  color: #f2001a;
}

.update:hover .update__actions,
.report__title:hover .report__actions,
.report__subtitle:hover .report__actions {
  opacity: 1;
}

.update:hover .update__action:active,
.update:hover .update__action:hover,
.report__title:hover .report__action:active,
.report__title:hover .report__action:hover,
.report__subtitle:hover .report__action:active,
.report__subtitle:hover .report__action:hover {
  background: #1a00f2;
  color: #fff;
  outline-width: 0;
}

.update:hover .update__action--danger:hover {
  background: #f2001a;
}

.report__edit {
  width: 100%;
  color: #424242;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

.footer {
  padding: 2rem;
  color: #424242;
  font-size: .8rem;
  opacity: 0.3;
}

.footer:hover {
  opacity: 1;
}

.footer__link {
  color: #1a00f2;
  font-size: .8rem;
  font-weight: normal;
  font-family: Helvetica, Arial, sans-serif;
  text-decoration: underline;
}

.footer__link:hover {
  background: #1a00f2;
  color: #fff;
  outline-width: 0;
}
